@import "tailwindcss";

html { scroll-behavior: smooth; }


@font-face {
  font-family: font1;
  src: url('/public/fonts/font1.woff2');
}

@font-face {
  font-family: font2;
  src: url('/fonts/font2.woff2');
}

@font-face {
  font-family: font3;
  src: url('/fonts/font3.woff2');
}

@font-face {
  font-family: font4;
  src: url('/fonts/font4.woff2');
}

@font-face {
  font-family: font5;
  src: url('/fonts/font5.woff2');
}

@font-face {
  font-family: font6;
  src: url('/fonts/font6.woff2');
}

@utility primary-gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-teal-600 to-teal-300
}

@utility secondary-gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-teal-400 to-green-600
}

@utility backgroundtwo {
  @apply  inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]
}

/* tailwind v4 @utility style */
@utility backgroundone {
  @apply relative
         before:content-['']
         before:fixed before:inset-0
         before:-z-10 before:pointer-events-none
         before:bg-white
         before:[background:radial-gradient(125%_125%_at_50%_10%,#fff_55%,#22c55e_100%)];
}

@utility primary-button-gradient {
  @apply bg-gradient-to-r from-green-600 to-teal-600 border-4 border-white
}

@utility component-button {
  @apply cursor-pointer rounded-lg border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 transition-colors
}

@utility component-button-green {
  @apply cursor-pointer rounded-lg bg-green-600 px-4 py-2 text-sm font-medium text-white hover:bg-green-700 transition-colors shadow-sm
}

@utility component-header {
  @apply text-2xl font-normal text-gray-900
}

@utility component-subheader {
  @apply mt-1 text-sm text-gray-600
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* makes it invisible */
}
